twilio_ultravox/n8n/twilio_ultravox.json
{
  "name": "Twilio Ultravox Voice Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultravox.ai/api/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemPrompt\": \"Your name is Steve. You are receiving a phone call. Ask them their name and see how they are doing. If they say goodbye, or the call naturally wraps up, use the 'hangUp' tool to end the call..\",\n  \"selectedTools\": [\n    { \"toolName\": \"hangUp\" }\n  ],\n  \"model\": \"fixie-ai/ultravox\",\n  \"voice\": \"Mark\",\n  \"temperature\": 0.3,\n  \"firstSpeaker\": \"FIRST_SPEAKER_AGENT\",\n  \"medium\": {\"twilio\": {}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -180
      ],
      "id": "b9bcb473-6359-40f7-9046-aaba6cd9f274",
      "name": "Connect to Ultravox",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WtA6axMQNivl5an8",
          "name": "Ultravox Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1dc6aa3-3385-468a-96fc-a603dbe45c46",
              "name": "joinUrl",
              "value": "={{ $json.joinUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -180
      ],
      "id": "bd9f2d47-f52c-4406-aac4-b803c23b5e6b",
      "name": "Join URL"
    },
    {
      "parameters": {
        "path": "9a7d5abd-51fa-47dd-aacb-6e0b290e883c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        -180
      ],
      "id": "f2efe02e-85a4-41d7-b8e0-2a9e1a682f65",
      "name": "Twilio Webhook",
      "webhookId": "9a7d5abd-51fa-47dd-aacb-6e0b290e883c"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Connect>\n    <Stream url=\"{{ $json.joinUrl }}\"/>\n  </Connect>\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        880,
        -180
      ],
      "id": "ec08866b-f5ad-40b2-98ae-e2375321bce7",
      "name": "Respond to Twilio Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Connect to Ultravox": {
      "main": [
        [
          {
            "node": "Join URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join URL": {
      "main": [
        [
          {
            "node": "Respond to Twilio Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Webhook": {
      "main": [
        [
          {
            "node": "Connect to Ultravox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8ea8dc1-2835-4d32-a003-22f655ab6643",
  "meta": {
    "instanceId": "d7c035f968edb2d1a1cb4d63b3d6598a904af94c69caab89c400e2a8e131f4b2"
  },
  "id": "J1tbqcLiGpf96nwT",
  "tags": []
}
