twilio_ultravox/n8n/v2/twilio_ultravox.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "path": "0c965d36-fff2-482e-8b74-712b440168ce",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "c70dafe9-b74f-43b0-8114-7e5bded39115",
      "name": "Twilio Webhook",
      "webhookId": "0c965d36-fff2-482e-8b74-712b440168ce"
    },
    {
      "parameters": {
        "jsCode": "// Log incoming call details\nconsole.log('Incoming call received');\nconsole.log('From:', $input.item(0).json.From);\nconsole.log('To:', $input.item(0).json.To);\nconsole.log('CallSid:', $input.item(0).json.CallSid);\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "2ba5f60e-2a74-4cd5-940c-d0d5125279de",
      "name": "Log Incoming Call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultravox.ai/api/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $credentials.httpHeaderAuth.headerAuth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemPrompt\": \"Your name is Steve. You are receiving a phone call. Ask them their name and see how they are doing.\",\n  \"model\": \"fixie-ai/ultravox\",\n  \"voice\": \"Mark\",\n  \"temperature\": 0.3,\n  \"firstSpeaker\": \"FIRST_SPEAKER_AGENT\",\n  \"medium\": {\"twilio\": {}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "2685e82a-7eac-413a-a004-29288806523b",
      "name": "Create Ultravox Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WtA6axMQNivl5an8",
          "name": "Ultravox Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1dc6aa3-3385-468a-96fc-a603dbe45c46",
              "name": "joinUrl",
              "value": "={{ $json.joinUrl }}",
              "type": "string"
            },
            {
              "id": "call-id-assignment",
              "name": "callId",
              "value": "={{ $json.callId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "9fbb62d1-8cf6-4197-bc8e-b9847fdaf029",
      "name": "Extract Ultravox Response"
    },
    {
      "parameters": {
        "jsCode": "// Log successful Ultravox call creation\nconsole.log('Ultravox call created successfully');\nconsole.log('Join URL:', $input.item(0).json.joinUrl);\nconsole.log('Call ID:', $input.item(0).json.callId);\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "440569f7-bc32-46ae-913b-6a705812a585",
      "name": "Log Success"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Connect>\n    <Stream url=\"{{ $json.joinUrl }}\" name=\"ultravox\" />\n  </Connect>\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "id": "e860eec5-1fb9-4fbf-93f0-86ecac323d81",
      "name": "Success TwiML Response"
    },
    {
      "parameters": {
        "jsCode": "// Log error details\nconsole.error('Error handling incoming call:', $input.item(0).json.error);\nif ($input.item(0).json.httpCode) {\n  console.error('HTTP Status:', $input.item(0).json.httpCode);\n}\nif ($input.item(0).json.message) {\n  console.error('Error message:', $input.item(0).json.message);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "id": "e91225da-6b05-42aa-906e-0c2521c64b62",
      "name": "Log Error"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say>Sorry, there was an error connecting your call.</Say>\n</Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        880,
        200
      ],
      "id": "bff6c6ca-4717-4491-a739-d07cc632af75",
      "name": "Error TwiML Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Webhook": {
      "main": [
        [
          {
            "node": "Log Incoming Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Incoming Call": {
      "main": [
        [
          {
            "node": "Create Ultravox Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ultravox Call": {
      "main": [
        [
          {
            "node": "Extract Ultravox Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ultravox Response": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Success TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Error TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b430f84b-a15f-463e-a23c-fb9bf45efba5",
  "meta": {
    "instanceId": "d7c035f968edb2d1a1cb4d63b3d6598a904af94c69caab89c400e2a8e131f4b2"
  },
  "id": "cK9ZWqboqL5ZXfQq",
  "tags": []
}
